/*
 * HeroUI Pro Theme
 * Add this to your globals.css after importing @heroui/styles
 * Only includes variables customized from the selected theme
 * @see https://heroui.com/docs/react/getting-started/theming
 */

/*
 * Font: Inter
 * Load this font in your app:
 * <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
 */
:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'],
.dark,
[data-theme='dark'] {
  /* Border Radius */
  --radius: 0.75rem;
  --field-radius: 0.75rem;

  /* Spacing */
  --spacing: 0.28125rem;
}

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  /* Theme Colors */
  --accent: oklch(82.13% 0.1527 176.69);
  --accent-foreground: oklch(15% 0.03 176.69);
  --success: oklch(73.29% 0.1935 141.55);
  --warning: oklch(78.19% 0.1585 63.07);
  --danger: oklch(65.32% 0.2328 16.48);
  --focus: oklch(82.13% 0.1527 176.69);
  --accent-hover: color-mix(in oklab, oklch(82.13% 0.1527 176.69) 90%, oklch(15% 0.03 176.69) 10%);
  --accent-soft: color-mix(in oklab, oklch(82.13% 0.1527 176.69) 15%, transparent);
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors */
  --accent: oklch(82.13% 0.1527 176.69);
  --accent-foreground: oklch(15% 0.03 176.69);
  --success: oklch(73.29% 0.1935 141.55);
  --warning: oklch(82.03% 0.1388 67.08);
  --danger: oklch(59.4% 0.1967 15.37);
  --focus: oklch(82.13% 0.1527 176.69);
  --accent-hover: color-mix(in oklab, oklch(82.13% 0.1527 176.69) 90%, oklch(15% 0.03 176.69) 10%);
  --accent-soft: color-mix(in oklab, oklch(82.13% 0.1527 176.69) 15%, transparent);
}
